@charset "utf-8";


// color set

// $darkgray2:#808080; //TC5
// $darkgray1:#959595; //TC6
// $skyblue:#e1f7ff; //BG3
// $sky:#f0f8fa; //BG4
// $skygray:#f2f5f8; //BG5
// $black:#111; //TC3,LC3
// $dark:#4d4d4d; //TC4,LC4
// $darkgray3:#666; //TC8
// $gray4:#c5c5c5; //BG6,LC5
// $gray3:#ccc; //LC6
// $gray2:#d1d1d1; //BG7

// $silver:#e6e6e6; //BG8,LC8
// $smoke2:#f0f0f0; //BG9
// $smoke1:#f6f6f6; //BG10
$black:#111; 
$white:#fff;
$gray1:#d9d9d9; 
$point:#009fd9; 
$sub:#eb3671; 


$head-height:12.3rem;
$head-height-sub:4.3rem;
