.u_chkbx label:after{
  display:inline-block;background-repeat:no-repeat;overflow:hidden;content:'';
  background-image:url(http://dev-markup.cjmall.com/webjars/ec-markup-common/dist/page-cjmall-mobile/others/img/common/cjmall/m/sp_chk.png);
  -webkit-background-size:162px auto;
  background-size:162px auto;
}

.u_chkbx{
  display:inline-block;position:relative;padding-left:2.8rem;height:2.4rem;font-size:0;line-height:1.4;vertical-align:middle;
  &:after{
    @include dummy;
  }
  input[type='checkbox']{
    position:absolute;left:0;top:50%;width:23px;height:23px;margin-top:-12px;opacity:0;
    &:focus + label .bin{border:1px dotted $black;}
    &:checked + label:after{background-position:0 -25px;}
    &:disabled + label:after{background-position:0 -75px;}
  }
  label{
    display:inline-block;color:$black;cursor:pointer;font-size:1.6rem;vertical-align:middle;
    &:after{
      position:absolute;left:0;top:50%;width:23px;height:23px;margin-top:0;padding-bottom:1px;background-position:0 0;
			@include midCenterTransform(0,-50%);
    }
    .bin{
      position:absolute;width:23px;height:23px;top:0;left:0;z-index:10;
      @include box;
    }
  }
}